<h1>
  Restaurant Details
</h1>
<main>
  <div>
    <h2>
      {{name}}
    </h2>
    {{#if image}}
    <img alt='{{name}}' src={{image}} />
    {{else}}
    <img alt='{{name}}' src='../public/images/No_Image_Available.jpg' />
    {{/if}}
    <br />
    {{#if website}}
    <a target='_blank' href={{website}}>
      Restaurant Information
    </a>
    {{else}}
    <p>
      N/A
    </p>
    {{/if}}
    <address>
      Address:
      {{{address}}}, {{{address2}}}
    </address>
    <address>
      Phone:
      {{{phone}}}
    </address>
    <p>Price: {{{price}}}</p>
    <p>Average rating:
      {{#if rating_image}}
      <img alt={{{name}}} src={{{rating_image}}}>
      {{/if}}
    </p>
    <p>{{{is_closed}}}</p>
  </div>
</main>